# 2.1 데이터 읽기

In [80]:
import os

os.listdir('../data2/')

['movies_metadata.csv', 'ratings-20m.csv', 'u.data', 'u.item', 'u.user']

In [81]:
import pandas as pd

u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users = pd.read_csv('../data2/u.user', sep='|', names=u_cols, encoding='latin-1')
users = users.set_index('user_id')
users.head()

         age sex  occupation zip_code
user_id
1         24   M  technician    85711
2         53   F       other    94043
3         23   M      writer    32067
4         24   M  technician    43537
5         33   F       other    15213

In [82]:
i_cols = ['movie_id', 'title', 'release_date', 'video release date', 'IMDB URL', 'unknown',
          'Action', 'Adventure', 'Animation', 'children\s', 'Comedy', 'Crime', 'Documentary', 'Drama',
          'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War',
          'Western']
movies = pd.read_csv('../data2/u.item', sep='|', names=i_cols, encoding='latin-1')
movies.set_index('movie_id', inplace=True)
movies.head()

,title,release_date,video release date,IMDB URL,unknown,Action,Adventure,Animation,children\s,Comedy,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
movie_id,,,,,,,,,,,,,,,,,,,,,
1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [83]:
r_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv('../data2/u.data', sep='\t', names=r_cols, encoding='latin-1')
ratings.set_index('user_id', inplace=True)
ratings.head()

         movie_id  rating  timestamp
user_id
196           242       3  881250949
186           302       3  891717742
22            377       1  878887116
244            51       2  880606923
166           346       1  886397596

# 2.2 인기제품 방식

개별 사용자에 대한 정보가 없는 경우나, 정확도에 관계없이 갖아 간단한 추천을 제공해야하는 상황  
-> 가장 인기있는 제품을 추천하는 것이 가장 합리적

In [84]:
def get_recomm_movie_1(n_items: int) -> "pd.Series[str]":
  sorted_mean_ratings = ratings.groupby(['movie_id'])['rating'].mean().sort_values(axis=0, ascending=False)
  recom_movies = movies.loc[sorted_mean_ratings.index[:n_items]]
  return recom_movies['title']

In [85]:
get_recomm_movie_1(5)

movie_id
814                         Great Day in Harlem, A (1994)
1599                        Someone Else's America (1995)
1201           Marlene Dietrich: Shadow and Light (1996)
1122                       They Made Me a Criminal (1939)
1653    Entertaining Angels: The Dorothy Day Story (1996)
Name: title, dtype: object

In [86]:
def get_recomm_movie_2(n_items: int) -> "pd.Series[str]":
  sorted_mean_ratings = ratings.groupby(['movie_id'])['rating'].mean().sort_values(axis=0, ascending=False)
  return movies.loc[sorted_mean_ratings.index[:n_items]]['title']

# 2.3 추천 시스템의 정확도 측정

추천시스템은 기술적으로 이야기하면 각 아이템에 대한 사용자의 선호도를 예측하는 것  
지표로 사용되는 지표 중 하나 RMSE   
RMSE = $\sqrt {\frac{1}{N}\sum_{i=1}^N (y_i-\hat y_i)^2}$

In [87]:
import numpy as np

def RMSE(y_true:"pd.Series", y_pred:"pd.Series") -> float:
  return np.sqrt(np.mean((np.array(y_true)-np.array(y_pred))**2))

In [88]:
movie_mean = ratings.groupby(['movie_id'])['rating'].mean()

rmse = []

for user in set(ratings.index):
  y_true = ratings.loc[user]['rating']
  y_pred = movie_mean[ratings.loc[user]['movie_id']]
  accuracy = RMSE(y_true, y_pred)
  rmse.append(accuracy)
  
print(rmse)
print(np.mean(rmse))

[0.9871739413758743, 0.8219422910732068, 1.2339723339608757, 1.2918964277456093, 1.2046670551586538, 0.8888721484619234, 1.0491049435867215, 0.925457378244275, 1.0714273973536004, 0.6563475075478296, 0.8647213856595464, 0.9734133550650361, 1.1956220934186141, 1.0633605424586277, 1.3152141045097092, 1.0717856405511164, 1.1026401621920408, 0.7736177002957276, 0.9095862832504693, 1.3203202362893989, 1.0345029928785174, 1.1155476238882485, 0.8204994526335332, 0.924963783904287, 0.647250029758992, 0.7564970553541654, 0.8092982805806483, 0.8264691238381775, 0.6702295646009502, 0.860031404200849, 0.9246176979692791, 0.8031823880989896, 0.6562472831748011, 1.497398029739686, 0.912302608707388, 1.6345699241761138, 0.8907408053367615, 1.657187237481364, 1.1470717491085198, 1.132272528219413, 0.7438374514309243, 0.9903055210506982, 0.8988429934758936, 0.8842041087906171, 0.815774909806917, 0.9657495341526146, 0.7720186761074518, 0.9090988016488181, 1.2988090805761887, 1.4302004692099255, 1.1989077156704766, 0.8515596602642362, 0.8726727432180729, 1.0897114938016426, 1.209991119790044, 0.849620040699868, 0.8489538769003413, 1.0763395224644916, 1.005120676830991, 0.6466484798112417, 1.194160539499314, 0.9738018525556464, 0.935982198911794, 0.8509852080271556, 0.8743032510309593, 0.9240240168831171, 1.0163340130146132, 1.412459353198605, 0.9341120861864662, 0.5928724319473645, 1.0157779962757818, 1.0141941695140322, 0.9417964310788571, 0.6413913437657321, 1.2043525507728547, 0.9364288616786408, 1.1065296369823987, 1.2691345337334234, 1.0244017874619562, 0.9299277452959683, 0.9559816610649671, 0.9952338607486483, 0.9891573594142775, 0.7271982977039455, 0.7221990499195824, 1.1262073348416242, 0.8775765377104162, 1.3654012112816267, 1.1595588429387096, 0.939639998792714, 0.9624825214158016, 0.7450144479301447, 1.1802225559648256, 0.8194793769578312, 0.944051088279641, 1.0152057924264022, 1.1855314645720272, 1.221732640734271, 1.0055374268816142, 0.8925173199691651, 0.7912385050641499, 1.0157378061922353, 0.7637356729491043, 1.2424596344492547, 0.8475137652613832, 0.6551285574016047, 1.2244909748597175, 0.8323497017227276, 1.1051049448245156, 0.8234125875752035, 0.8764690924477148, 0.973972858659273, 1.1759167795025058, 0.9407362991197478, 1.132645174412418, 0.9269735144458321, 0.9284341235035919, 1.1859304076028572, 1.0372740231988204, 0.836870065848007, 1.1248737919359333, 1.0510962550999126, 1.0156404245039679, 1.1857213359347132, 1.1570542335474472, 1.296319600142976, 1.928967453505425, 0.9210963550265592, 1.3399778215112164, 1.1251579439452608, 1.0465861367356053, 0.692623087103063, 0.912199875053453, 1.1414025646686565, 0.5755426982793168, 0.8504598905580808, 1.4153455263467913, 0.7127031370870737, 0.8738665446905605, 0.7392272912168941, 1.325544695840152, 0.9512286787350294, 1.1331775074622803, 0.8140301046104268, 1.1024244313353795, 1.0147021661868714, 1.0647830483760683, 1.247180627968695, 1.0779433841462216, 0.9651443819798893, 0.9314229506984316, 1.2760082751096724, 1.6840792431343528, 0.7735638473187897, 0.949402061806754, 0.7631531333018947, 1.1459332338315924, 0.8742997157456541, 1.2629966890270412, 0.9180921783632428, 1.6544034177681464, 0.7110658651708636, 0.8887433355628052, 1.2104989183987118, 0.887723060381808, 1.5009762501175403, 1.2068235802144074, 1.2697868052097754, 0.8963649136972519, 1.0814780632984342, 0.6469022904905409, 1.1030319038530028, 1.1184290794483502, 1.2906070125199425, 0.9483998798819631, 1.00870214177106, 0.793574501519675, 0.8305456806435858, 1.5207589611746555, 1.278158053801471, 1.6479068893586049, 0.8695959153051893, 0.9602243740204329, 0.6873652653525495, 0.7427089510818121, 1.2228426385954094, 0.8754539340431936, 0.8710196026948144, 0.9886422735586902, 0.8366946223831513, 0.6098016077761255, 0.9800776611560909, 1.0099459541171627, 1.0033448781977665, 0.7407026633514584, 0.9855525384604498, 1.0802099750086611, 0.8844059174403847, 1.1812118754485823, 1.0159560582910112, 1.0746520614426889, 1.7608048681676842, 0.9874100281824785, 1.160459872176372, 1.0346808143674775, 1.6348761924701058, 0.8342071339431862, 1.049383241043484, 1.0639818884954662, 0.7556922260303512, 1.1858934691008878, 1.2989041824966523, 0.9228998435034955, 0.7950832103465012, 0.8058434060767138, 0.849938074757454, 1.3336987584572102, 0.7161826949332709, 1.4641476308737353, 0.8285802651903759, 0.8578983142415914, 0.961379517826475, 1.2010350670918972, 1.0807235894549276, 0.9028418052008998, 0.8817368068833963, 0.8944746638255263, 1.5285226803294671, 1.6289501647624565, 1.109010744158749, 1.0227110504058925, 0.8580650353840692, 0.9494866513399505, 0.9300185012002385, 0.7562287482273456, 1.1643480576557945, 0.614225480783603, 0.7353002524488829, 1.2823954486257254, 1.0694850035739376, 0.9201670074441344, 1.2833319563905154, 0.7820309050744858, 1.0202680926113237, 1.0747509371778772, 1.1640714871514735, 0.7909440492139034, 1.1556437536460722, 0.8253187370822331, 0.9796739780323858, 0.7468759790255607, 0.9707354224946463, 0.8587295662098888, 0.9499587771902678, 1.2824281950531256, 1.1353720484962282, 0.9058293599103988, 1.3329784981268542, 0.6888503041807865, 1.4492590442684388, 1.3968910364893394, 0.833803187312444, 0.9007004038509303, 1.047950299191786, 1.1197084533592083, 0.8357418838514067, 0.7627124167959587, 0.8860911776183432, 1.3449221674093186, 1.3281506079278966, 0.8280273850669874, 0.8189524507799351, 0.7064863226493612, 0.9417783076289651, 0.7418339941193403, 0.6978918211080472, 0.7899624930268895, 0.915311853214083, 1.2352945728898541, 1.0169557210133509, 1.1526155552672608, 0.9193088369106437, 0.916670340940039, 0.6381653716969804, 0.8692004220200279, 1.1757885768015044, 1.0675805946808279, 1.1126388340903453, 1.061385726383125, 0.8571925960968652, 0.9095040595000137, 0.7444496812602401, 0.9438873783707467, 0.7663163752204241, 1.0334171576289222, 1.0492015217453656, 0.9443029298350781, 0.7650713379081521, 0.7758901758431542, 1.3460864426675874, 0.9126777440073564, 1.0824860132514758, 0.9013993437537885, 0.9035855019684786, 1.0517734895598023, 0.8811183924238288, 0.9282972694925927, 0.7490999895413922, 1.0694817559683152, 1.1135086664238472, 0.8484815412182726, 0.9886232264962196, 0.8281344125435233, 1.1652388781179615, 0.8515482602490652, 1.501271629274268, 0.8956549537329612, 0.9579949921930626, 0.6468790864969494, 0.8888478616280838, 0.7190738954565711, 0.7770008069440861, 0.7289550331526711, 1.257813645952458, 1.0036523219651505, 1.2006215171493169, 0.9207796652012732, 0.7651032024141934, 0.7250668602563172, 1.144774053994526, 1.0760639312317197, 1.1460418824256413, 1.0021654453164732, 0.7815915355892047, 1.1698130204342303, 1.135975544076504, 1.0609341101124692, 0.9134865817519626, 0.8134098281186085, 1.2860800362972136, 1.3018278898214828, 1.1518877018856701, 0.9912749155153796, 0.7680499190864158, 0.729519127286351, 1.0050108305123338, 1.1857795119302845, 0.9889316222507497, 0.9834080901622286, 0.7824615095623318, 1.268653534177385, 1.114014983466994, 1.0504398287205927, 0.850040218157427, 1.0876534796080901, 0.9723433259135448, 1.163600192479404, 1.2388801914196677, 0.698859199357996, 0.7181341522088897, 0.7954750337512783, 1.3027862172448152, 1.20109479975964, 1.0460152601734989, 0.9572267012098818, 1.504309928024073, 1.0231620280307931, 0.9594905758088283, 0.8263930246914748, 0.8986329771816276, 0.9537383925014791, 1.2798840322339111, 0.8804544720485497, 1.1975027463768868, 0.7487259375156098, 0.5583004966348957, 0.7884358474720689, 0.6513450173526097, 0.7958185613525687, 0.9466796696441719, 0.962501181895193, 1.2014924468121757, 0.9258740119378874, 0.844988873875782, 1.2036999964256674, 0.823316820942903, 1.088568024695699, 1.1987925477314914, 0.8026183765323684, 1.14418684075113, 0.8591808265168025, 0.9878404746033865, 0.8478665777692731, 0.8748033282280998, 0.9571067766897805, 0.7981341242088165, 0.876753161630949, 0.7803582230234227, 0.9124285087046236, 0.7498408120183673, 1.2188305633133172, 0.806769052513654, 1.132838584945028, 1.0417718562881082, 1.7962892601197036, 0.9941745457491815, 0.7090912108594256, 1.074067817585389, 0.9644133094957467, 1.0003888260564537, 0.6774423148549588, 0.651324617593853, 0.840915295740074, 0.9398848234958489, 0.8968980643198745, 0.9851625329461745, 0.816183342090639, 1.6216915583110991, 0.8087981196779489, 0.824427146935641, 1.0081376930640382, 0.8158135129551328, 0.7747938569414963, 1.4065759704730205, 1.1145821669004592, 0.7357310978421309, 1.6995124478161838, 1.0238506113476156, 0.7296673268350697, 0.8878706138449226, 0.7096967089467109, 1.0498625774814692, 0.9513343493391122, 1.4870981990504553, 0.9050122166103716, 0.9195176946954583, 1.078351228435329, 1.1102273788342316, 0.8064968243646838, 1.2518069237310123, 0.742705249586662, 0.8452216319520429, 1.2877649743592254, 0.9205402799316719, 1.758359586600021, 1.0653843046498315, 0.8166855622714834, 1.3455665525562106, 0.9835865100963699, 0.8255460932924332, 1.348220001580896, 1.1433391844870295, 0.77458367421601, 1.191690879198439, 0.6576029566361875, 0.8034876423136976, 0.8051283495737448, 0.9991216718085401, 1.01299434916779, 0.8736590266012216, 1.11568713906188, 1.2922281695755662, 1.1991381257803084, 0.8371834708198881, 0.8574822505378596, 1.0571871624147742, 0.8844915616222199, 0.7798909195396124, 0.7615502581680639, 0.8167002514208767, 1.6732111923532114, 1.3243633609588708, 0.8182360642144798, 0.7659808002815229, 1.366272567188495, 0.7838271389807928, 1.260215122326857, 1.108106782629945, 0.9676085185815801, 0.8424992297784386, 0.8723936351663693, 0.7458044979875483, 1.1099537733478677, 0.9493282615606475, 1.056664966340019, 0.9089216867558937, 0.9949398740319335, 0.9528536219157839, 1.2007860137113415, 1.3785192367000985, 0.9956461106462664, 1.0520144488911092, 1.0761370018585477, 0.9602331023003089, 1.1863671805812175, 1.3088348574463464, 0.7921768851664523, 0.9941853124224616, 0.9301050989568984, 0.9532258832211248, 0.732277327695667, 1.10944747466029, 1.1445965613922837, 0.7909932108873587, 1.0408391784434239, 0.9121001361872902, 1.6514414250186638, 0.8750398963365436, 1.3520001664219663, 0.8724180019579155, 1.117191982134579, 0.8725874748292581, 1.112443940021616, 0.7666586335535552, 1.03238584193194, 0.7992541365327401, 1.2417581131436384, 1.0771562072179195, 1.7366415920181335, 1.02985021440865, 0.8882830048650251, 0.8268503298004355, 1.0310186357420494, 1.053063097186421, 0.7903898814562903, 1.0519332587314751, 0.8781455231521283, 0.8912497152086629, 0.8999000691301569, 0.732394928488412, 1.27038969107268, 1.056468334975244, 0.9629611124578229, 1.2989346210830486, 0.8551054511024804, 0.8809162188991988, 1.0622281364316017, 0.8111375987921497, 0.9285060083067915, 0.5872163974433385, 0.9340562200072605, 0.7285761493053574, 0.6063191111478428, 0.9108615138031942, 0.7791238449968587, 1.3482800078046717, 0.8736462987192005, 1.1472908837512303, 0.6112861875593267, 1.0757966194229998, 1.2514576142733216, 0.5517216127992547, 0.7431619278195786, 0.6724867238396612, 0.8817455664878746, 0.9224191008860717, 1.0524117657568468, 0.8379272013368333, 1.090534281170938, 0.7656835721879501, 1.0330594858441506, 1.4596471124794028, 0.8924011248384969, 0.6490969738149998, 1.0702995909252948, 0.9397155692582599, 0.9957920493190019, 1.1598789851956848, 0.7327808783181003, 1.2374960407796913, 0.8973800554953515, 1.1231506169570917, 0.6150489785329443, 1.0756879583514147, 1.5498577346735722, 0.8414142383101391, 0.8644510848468592, 1.2760149251854616, 0.8014014309461248, 1.1746014168633765, 1.0170710215979484, 0.9158030889053993, 0.8097097216406967, 0.8578788390628571, 0.8482734450982924, 0.9399523172149267, 0.9476850434098569, 1.1869118806651673, 1.518645316065667, 0.9935054599744418, 0.6329464147539633, 1.0722775062407621, 0.9719041795754617, 0.6298147840419968, 0.851676962235415, 0.7845441690210333, 1.1364111608876881, 0.9427261685422152, 1.262213287105144, 0.7554669740677458, 1.2574961477647368, 0.8709781270226922, 1.0481517080666094, 1.3075247834485955, 0.9899936192384828, 0.8770601106448649, 0.595902676765187, 1.2060059355480355, 1.5506266315861716, 0.9529283708866791, 1.06840332716845, 0.8747339438270134, 0.7589643120462283, 1.1110530567207861, 0.8026533270002857, 0.7097137139180294, 1.5261956845904563, 0.9066573545883867, 1.1478476959269757, 1.2126682218892808, 0.9166645763301241, 0.8767375426175948, 0.9336222753301682, 0.5938566782066441, 0.7625090846374986, 1.4343234739206545, 1.0336412877261918, 1.544793483181249, 0.9105462795306347, 1.0858490882288034, 0.6921396727717234, 0.8773624967617237, 0.8207114883855668, 0.8452493123062506, 0.8882513734926348, 1.2505793393860738, 1.3960116649352352, 0.9731002409243806, 1.3038416227624325, 0.9419081125209847, 0.7874906448587541, 1.2426980419657, 0.6840084925804835, 1.07811189182002, 0.7280197400511964, 0.692663363120088, 0.689525083377391, 1.1521061533044252, 0.9414590907962698, 0.7619347609741652, 1.1612989488322851, 0.9523559283880602, 1.2872139658292525, 0.9720032471066332, 0.9072074638444655, 1.380220981287331, 1.223150512390858, 0.6382875067753011, 0.7806829533614097, 1.1507325033108076, 0.7438044920257928, 0.9937597725308311, 0.7630696816820882, 0.7687965634153068, 0.7881007784893013, 0.7258346623225345, 0.8913986884432991, 0.9572517440367863, 1.0931273537380752, 0.9722002516724791, 1.1476526989054892, 1.0539944959320062, 0.9501860980427353, 0.8793526532262285, 1.1099740123778323, 1.1298282301375058, 1.4439559193211167, 0.9852286211405787, 0.876380979967925, 0.6418533313621987, 1.490366789619432, 0.9033614709175192, 0.9004295457058169, 0.807478158779084, 1.4293283179989476, 0.961150884422531, 0.7002426345403547, 1.8309652441612088, 1.198661020023817, 1.0378020429705979, 1.0192606373684376, 0.9361846104689578, 1.0546825820557737, 0.667249854442567, 1.321895590133792, 1.08766926997021, 1.1916294717613072, 1.5029964777620746, 0.8416761761738963, 0.7804902181863089, 0.718072399522261, 1.4543099133172235, 0.8534967055572215, 0.8993558040384628, 1.199764182157239, 1.1225369680456834, 1.0166937234468223, 1.1312307321049437, 0.906954122984854, 0.6329718667581745, 0.9166788087126883, 1.1415056238098156, 0.9605360349778662, 1.081001462353908, 0.8360755808466072, 0.9070704034445708, 1.0140131506714656, 1.0630129848130458, 1.1309002785476023, 0.8215089139940037, 0.9220392519336366, 0.7821438833957584, 0.9401598563464031, 1.5372258104364565, 0.8994254421803882, 1.3793538566445585, 0.8691467425291566, 0.608910208775801, 1.1086619592164968, 1.0570436074102514, 1.4317891070266644, 1.3349597247809966, 1.0491350269903952, 1.005713788391601, 0.8703206175126519, 1.2525479444759366, 0.9648073354362146, 0.6768868908426375, 1.6179929490972818, 0.8219000586235762, 0.8301388339560349, 0.9441547737657665, 0.9028845036642792, 0.7351702796728042, 1.519791485679459, 0.9026428154895423, 0.9888296196020513, 0.7220482083308232, 0.8191301947159643, 0.721753849033701, 0.9567146783674251, 1.21659242461487, 1.2015702174444587, 0.7944494641587968, 1.1551913548507322, 0.888563923190731, 0.6158859467527525, 0.9922794695496141, 1.1055342695995485, 1.3524907017570262, 1.3361022695177216, 1.604172256723965, 0.8041915696600177, 0.7389010940146359, 1.1294126443187458, 0.82689443536654, 0.747793688841558, 1.0000823787868705, 0.8216855807649295, 1.1523298333618623, 1.3734877683307436, 0.9270945190398118, 1.0784510671346978, 1.6751273060451333, 0.8079955441412666, 0.8525708352778426, 1.3145560374116236, 1.2930264989625844, 0.9319547861085373, 1.0800700070560338, 1.001461459104782, 0.8842966717200843, 1.0509400486926987, 0.7248095325762595, 0.7412931161979972, 0.754954290703883, 0.9359927327570521, 0.7944112106304515, 0.9249712695544409, 0.9186944701266578, 0.9998864899894251, 0.821591481865278, 0.6421766341426067, 0.7828973648580028, 0.8438023933319976, 0.9898681237123904, 1.1134229453570494, 0.9961405809191636, 0.7913982936193615, 0.5462711422568011, 1.1884759534418796, 1.0076914123745793, 1.069301619427765, 0.762051760169573, 1.1438281309760754, 0.8128916576907902, 0.9286675812928568, 1.1367357193237444, 1.0039100110565617, 1.3482173774808417, 1.3321381230520883, 1.2183729488739838, 1.2045679062052383, 0.687972050165113, 0.982749699036879, 1.0386823204928306, 0.8026878930810426, 1.0285963191130492, 1.0061331847673853, 1.217049484125701, 0.9326361228408002, 0.872486123164999, 0.8300799658381078, 1.0563657246598683, 1.1600638991453487, 0.8729845921516143, 0.6761421981869907, 1.0655524344380751, 0.6281468415810989, 0.9262882914380607, 0.924537101250032, 0.752263840401677, 1.2087443193285976, 0.8562883807185689, 0.8701843957371507, 0.9615410200744061, 1.2056308224707069, 0.7640974734821341, 1.0585266569514, 0.8250195299092956, 0.981300100430234, 1.172546595641396, 1.213602814621607, 0.7225331424253643, 1.2606932908288855, 0.8856422791295114, 1.1708738880822267, 1.149193868177997, 1.3570112030189305, 1.2164356382775179, 0.8666113542543507, 0.7110787782228822, 1.1417693186026168, 0.9152310568183479, 0.8671441837663328, 0.8317618261747977, 1.1834084702099108, 0.9230168170145369, 1.0510872824381567, 0.7734522800235906, 1.064335477366899, 1.041969558197283, 1.1802820228737754, 0.8105063203042847, 1.7167623845418873, 1.5024378788657433, 0.9674013616457363, 1.268274870600959, 1.2988883069853896, 0.8157691304093123, 0.9261973972246225, 0.930267720237077, 1.155402673088979, 0.5519617546939631, 0.7793223915030868, 0.6569653285677816, 0.8572986157030246, 1.0894581683494187, 0.7785904435333364, 0.7858021695944759, 0.9658924284051282, 0.9307902900305902, 0.9356251784877799, 0.9913731012164011, 0.899233835880345, 0.9648216924350825, 1.5412208092096487, 0.816274597306771, 0.7669825169315366, 0.9006786828058408, 1.050123939012883, 0.782188808147921, 0.670577548039526, 0.6317794154170614, 0.7525858079193689, 1.053647657529234, 1.0596580708973005, 0.9870982269261147, 0.9117603824103572, 1.3383748594186213, 1.1322605275936717, 1.0213426875362528, 0.8579247036973727, 0.9914179125794312, 0.6692622852540199, 0.7601952629374591, 1.3294573170194979, 0.749884766233315, 1.0050832435530317, 0.998284440935708, 0.9113710955614129, 0.9846515887565299, 1.0546666230525688, 1.249465483973856, 0.981800513314364, 0.7336372823486178, 1.1142770760233516, 1.1599857458988576, 0.8604058148262396, 0.777266453638426, 1.071362864682893, 0.9324527291171599, 0.9969718143969379, 0.7398194456723126, 0.9475137440425319, 0.6985497646454786, 1.1610623489315577, 1.298915188132967, 0.9395268486422196, 1.244831186613534, 0.772711556472457, 0.8035338597956756, 1.210506568058477, 0.9072589844912285, 1.0553822076392265, 0.9735773679214882, 1.0925214761082318, 1.1138031867533364, 1.2694462508386717, 0.950640469285235, 0.7929985789773976, 0.8583309254512, 1.1260208153403974]
0.996007224010567

# 2.4 사용자 집단별 추천

In [89]:
import pandas as pd

def get_dataset_1() -> "pd.DataFrame":
  u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
  i_cols = ['movie_id', 'title', 'release_date', 'video release date', 'IMDB URL', 'unknown',
            'Action', 'Adventure', 'Animation', 'children\s', 'Comedy', 'Crime', 'Documentary', 'Drama',
            'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War',
            'Western']
  r_cols = ['user_id', 'movie_id', 'rating', 'timestamp']

  users = pd.read_csv('../data2/u.user', sep='|', names=u_cols, encoding='latin-1')
    
  movies = pd.read_csv('../data2/u.item', sep='|', names=i_cols, encoding='latin-1')
  movies = movies[['movie_id', 'title']]
  
  ratings = pd.read_csv('../data2/u.data', sep='\t', names=r_cols, encoding='latin-1')
  ratings.drop('timestamp', axis=1, inplace=True)
  
  return users, movies, ratings

In [90]:
users, movies, ratings = get_dataset_1()

In [91]:
from sklearn.model_selection import train_test_split

X = ratings.copy()
y = ratings['user_id']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, stratify=y)

In [92]:
import numpy as np

def RMSE(y_true:"pd.Series" or "np.array", y_pred:"pd.Series" or "np.array") -> float:
  return np.sqrt(np.mean((np.array(y_true)-np.array(y_pred))**2))

In [93]:
# train data로 full matrix 구하기
rating_matrix = X_train.pivot(index="user_id", columns='movie_id', values='rating')
display(X_train.head(), rating_matrix.head())

       user_id  movie_id  rating
83657      836       210       4
74565      192       255       2
78935      574       242       5
69504      586       195       4
47152      734        82       4

movie_id,1,2,3,4,5,6,7,8,9,10,...,1669,1671,1672,1673,1675,1676,1678,1679,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,NaN,4.0,NaN,3.0,NaN,4.0,NaN,5.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [94]:
# 전체 평점으로 예측하는 모델
def best_seller(user_id: str, movie_id:str) -> float:
  X_train_mean = X_train.groupby(['movie_id'])['rating'].mean()
  # train set의 rating 평점의 평균으로 예측
  try:
    rating = X_train_mean['movie_id']
  # 해당 movie id가 없을 경우 3.0으로 예측
  except:
    rating = 3.0
  return rating

# 모델별 RMSE를 계산하는 함수
def score(model):
  id_pairs = zip(X_test['user_id'], X_test['movie_id'])
  
  y_pred = np.array([model(user_id, movie_id) for (user_id, movie_id) in id_pairs])
  y_true = np.array(X_test['rating'])

  return RMSE(y_true, y_pred)

In [95]:
# score(best_seller)

In [96]:
# Full matrix를 사용자 데이터와 merge
merged_ratings = pd.merge(X_train, users, how='inner', on='user_id')
users = users.set_index('user_id')
display(merged_ratings.head(), users.head())

   user_id  movie_id  rating  age sex occupation zip_code
0      836       210       4   44   M     artist    10018
1      836        42       3   44   M     artist    10018
2      836       657       5   44   M     artist    10018
3      836       663       5   44   M     artist    10018
4      836       258       4   44   M     artist    10018

         age sex  occupation zip_code
user_id
1         24   M  technician    85711
2         53   F       other    94043
3         23   M      writer    32067
4         24   M  technician    43537
5         33   F       other    15213

In [97]:
g_mean = merged_ratings[['movie_id', 'sex', 'rating']].groupby(['movie_id', 'sex'])['rating'].mean()
g_mean

movie_id  sex
1         F      3.866667
          M      3.912863
2         F      3.428571
          M      3.218391
3         F      2.416667
                   ...
1676      M      2.000000
1678      M      1.000000
1679      M      3.000000
1681      M      3.000000
1682      M      3.000000
Name: rating, Length: 3039, dtype: float64

In [172]:
# Gender 기준 추천
# gender 별 평균을 예측치로 돌려주는 함수
def cf_gender(user_id:str, movie_id: str) -> float:
  g_mean_movie_id_list = [index[0] for index in g_mean.index.tolist()]

  gender = users.loc[user_id]['sex']
  # movie id가 merge한 행렬에 존재하고 , user id의 성별이 merge한 행렬의 movie id에 존재할 때
  # movie id와 gender 그룹의 평균으로 예측
  if movie_id in g_mean_movie_id_list and gender in g_mean[movie_id]:
    gender_rating = g_mean[movie_id][gender]
  # 그렇지 않으면 3.0으로 예측
  else:
    gender_rating = 3.0
  
  return gender_rating

In [173]:
score(cf_gender)

1.035597889831803

### 연습문제

  
2-1) 위의 성별('gender') 추천 코드를 수정해서 사용자의 직업('occupation')에 따라 집단을 나누어서 예측값을 구하는 함수를 만들고 이의 정확도를 계산하는 코드를 작성하시오

In [130]:
o_mean = merged_ratings[['movie_id', 'occupation', 'rating']].groupby(['movie_id', 'occupation'])['rating'].mean()

In [174]:
# occupation  기준 추천
# occupation  별 평균을 예측치로 돌려주는 함수
def cf_occupation(user_id:str, movie_id: str) -> float:
  o_mean_movie_id_list = [index[0] for index in o_mean.index.tolist()]

  occupation = users.loc[user_id]['occupation']
  # movie id가 merge한 행렬에 존재하고 , user id의 성별이 merge한 행렬의 movie id에 존재할 때
  # movie id와 occupation  그룹의 평균으로 예측
  if movie_id in o_mean_movie_id_list and occupation in o_mean[movie_id]:
    occupation_rating = o_mean[movie_id][occupation]
  # 그렇지 않으면 3.0으로 예측
  else:
    occupation_rating = 3.0
  
  return occupation_rating

In [175]:
score(cf_occupation)

1.124649826168198

2-2) 사용자의 성별과 직업('occupation')을 동시에 고려한 집단을 난워서 예측값을 구하는 함수를 만들고 이의 정확도를 계산하는 코드를 작성하시오.

In [134]:
g_and_o_mean = merged_ratings[['movie_id', 'sex', 'occupation', 'rating']].groupby(['movie_id', 'sex', 'occupation'])['rating'].mean()

In [203]:
# Gender 기준 추천
# gender 별 평균을 예측치로 돌려주는 함수
def cf_gender_occupation(user_id:str, movie_id: str) -> float:
  g_and_o_mean_movie_id_list = [index[0] for index in g_and_o_mean.index.tolist()]
  
  gender = users.loc[user_id]['sex']
  occupation = users.loc[user_id]['occupation']
  
  # movie id가 merge한 행렬에 존재하고 , user id의 성별이 merge한 행렬의 movie id에 존재할 때
  # movie id와 gender 그룹의 평균으로 예측
  if movie_id in g_and_o_mean_movie_id_list and \
      gender in g_and_o_mean[movie_id] and \
      occupation in g_and_o_mean[movie_id][gender]:
    occupation_rating = g_and_o_mean[movie_id][gender][occupation]
  # 그렇지 않으면 3.0으로 예측
  else:
    occupation_rating = 3.0
  
  return occupation_rating

In [204]:
score(cf_gender_occupation)